# Declare Github Syntax Highlighting for various file types
# https://github.com/github-linguist/linguist/blob/master/lib/linguist/languages.yml
*.mvt linguist-language=HTML
*.mv linguist-language=XML
