/*
 * Miva Merchant
 *
 * This file and the source codes contained herein are the property of
 * Miva, Inc.  Use of this file is restricted to the specific terms and
 * conditions in the License Agreement associated with this file.  Distribution
 * of this file or portions of this file for uses not covered by the License
 * Agreement is not allowed without a written agreement signed by an officer of
 * Miva, Inc.
 *
 * Copyright 1998-2014 Miva, Inc.  All rights reserved.
 * http://www.miva.com
 *
 */

#volume_discount_table
{
	border-collapse: collapse;
}

.volume_discount_row td
{
	padding: 2px;
}

.volume_discount_row span
{
	font-size: 16px;
	display: none;
}

.volume_discount_row:hover span
{
	display: inline;
	cursor: pointer;
}
